---
import Layout from '@/layouts/Layout.astro'
import FormInput from '@/components/FormInput.astro'
---

<Layout
	title="Nueva Nota"
	backButton
	actionBar
>
	<main class="w-full max-w-5xl text-primary text-lg">
		<form
			method="POST"
			class="flex flex-col w-full bg-background rounded-lg px-6"
		>
			<FormInput
				class="text-2xl font-bold text-accent"
				name="title"
				placeholder="Título"
			/>

			<FormInput
				class="w-full text-pretty text-lg my-4 text-accent"
				name="content"
				type="textarea"
				placeholder="Nota"
				autocapitalize="sentences"
			/>
		</form>
	</main>
</Layout>

<script>
	import { saveNote } from '@/data/notes'
	import { toLocal } from '@/utils/date'

	document.addEventListener('astro:page-load', () => {
		const $back = document.querySelector('#back-btn') as HTMLElement

		const $content = document.querySelector(
			'textarea[name="content"]'
		) as HTMLElement

		$content?.focus()

		const $form = document.querySelector('form') as HTMLFormElement
		$form?.addEventListener('submit', (event) => {
			event.preventDefault()
		})

		$back?.addEventListener('click', () => {
			const now = new Date()
			const formData = new FormData($form)
			const data = Object.fromEntries(formData.entries())
			const { title, content } = data
			const note = {
				id: `note-${title.toString().toLowerCase().replace(/\s/g, '-')}`,
				title: title.toString(),
				content: content.toString(),
				createdAt: toLocal(now, {
					dateStyle: 'medium',
					timeStyle: 'short',
				}),
				updatedAt: toLocal(now, {
					dateStyle: 'medium',
					timeStyle: 'short',
				}),
			}
			console.log(`DEBUG:note:`, note)

			saveNote(note)
			history.back()
		})
	})
</script>
