---
import Layout from '@/layouts/Layout.astro'
import FormInput from '@/components/FormInput.astro'
---

<Layout
	title="Nueva Nota"
	backButton
	actionBar
>
	<main class="w-full max-w-5xl text-primary text-lg">
		<form
			method="POST"
			class="flex flex-col w-full bg-background rounded-lg px-6"
		>
			<FormInput
				class="text-2xl font-bold text-accent"
				name="title"
				placeholder="Título"
			/>

			<FormInput
				class="w-full text-pretty text-lg my-4 text-accent"
				name="content"
				type="textarea"
				placeholder="Nota"
			/>
		</form>
	</main>
</Layout>

<script>
	import { saveNote } from '@/data/notes'
	const form = document.querySelector('form')
	const $backbtn = document.querySelector('#back')

	$backbtn?.addEventListener('click', async () => {
		if (!form) return
		const formData = new FormData(form)
		console.log(`DEBUG:fullFormData:`, formData)
		const data = Object.fromEntries(formData)
		console.log(`DEBUG:formData:`, data)
		const newNote: Note = {
			id: '',
			title: data.title.toString(),
			description: data.description.toString(),
			content: data.content.toString(),
			createdAt: new Date(),
			updatedAt: new Date(),
		}
		console.log(`DEBUG:newNote:`, newNote)
		const noteId = await saveNote(newNote)

		if (!noteId) {
			throw new Error('Error saving note')
		}
		window.location.assign('/')
	})
</script>
