---
import Layout from "@/layouts/Layout.astro";
const { id } = Astro.params;
---
<Layout title="Perfil de Usuario">
<div class="w-full h-full bg-amber-600">
  <h1 class="text-5xl">Profile ID: {id}</h1>
</div>

</Layout>