---
import UserIcon from '@/icons/user.astro'
---

<article
	class="flex flex-col items-center justify-center h-full"
>
	<header class="flex gap-2 items-center">
		<UserIcon class="size-12" />
		<h1 class="text-xl font-bold">Inicia sesión</h1>
	</header>
	<article class="text-balance">
		<button class="text-lg" id="login">Iniciar sesión</button>
	</article>
</article>
