---
interface Props {
	path: string
	title: String
	blocked?: boolean
}

const {title, path, blocked} = Astro.props

import LockIcon from '@/icons/lock.astro'
---

<a href={path} class="flex items-center w-full gap-2 relative">
	{blocked && (<tooltip data-message="Inicia sesión para guardar" class=""/>)}
	{blocked &&	
			(
				<LockIcon class="size-6"/>
			)
		}
<span>{title}</span>
</a>


<style>
	a:hover tooltip::after{
		content: attr(data-message);
		position: absolute;
		top: -1.5rem;
		transform: translatex(-50%);
		
		background: red;
		color: white;
		width: max-content;
	}
</style>