---
import { APPOINTMENTS } from '@/data/appointments'
import Layout from '@/layouts/Layout.astro'

const { id } = Astro.params
const appointment = APPOINTMENTS.find((appointment) => appointment.id === id)
if (!appointment) return
---

<Layout
	title={`Appointment: ${appointment.title}`}
	back
>
	<div>
		<h2>{appointment.title}</h2>
		<p>{appointment.date}</p>
	</div>
</Layout>
