---
import Layout from '@/layouts/Layout.astro';
---
<Layout title='Perfil'>
  <main>
    <form>
      <h1>Perfil</h1>
      <label for="name">Nome</label>
      <input type="text" id="name" name="name">
    </form>
  </main>
</Layout>

<script>
  const name = document.querySelector('input')
  name?.addEventListener('change', () => {
    console.log(name.value)
  })
</script>