---
import Layout from '../layouts/Layout.astro'
import { getSession } from 'auth-astro/server'

const session = await getSession(Astro.request)
const user = session?.user
---

<Layout title="Welcome to Astro.">
	<main>
		{
			user ? (
				<>
					<h1>
						Welcome back, <span class="text-gradient">{user.name}</span>!
					</h1>
					<small
						id="logout"
						class="text-yellow-500"
					>
						Cerrar sesión
					</small>
				</>
			) : (
				<>
					<h1>
						Hello, <span class="text-gradient">Astro</span>!
					</h1>
					<small id="login" class="text-blue-300">Iniciar sesión</small>
				</>
			)
		}
	</main>
</Layout>

<script>
	const { signIn, signOut } = await import('auth-astro/client')

	const $login = document.querySelector('#login') as HTMLButtonElement
	const $logout = document.querySelector('#logout') as HTMLButtonElement

	if ($logout) $logout.onclick = () => signOut()
	if ($login) $login.onclick = () => signIn('google')
</script>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
