---
import Layout from '@/layouts/Layout.astro'
import Search from '@/sections/Search.astro'
import Entries from '@/sections/Entries.astro'
import SideBar from '@/sections/Sidebar/index.astro'

import { getSession } from 'auth-astro/server'

const sesion = await getSession(Astro.request)
const user = sesion?.user
---

<Layout
	title="Eira - Bitácora Médica"
	bottomBar
	back={false}
>
	<main class="w-full max-w-5xl">
		<Search />
		<Entries />
	</main>
	<SideBar user={user} />
</Layout>

<style>
	:global(.link) {
		color: rgb(147 197 253)
	}
</style>
