---
import Layout from '@/layouts/Layout.astro'
import Search from '@/sections/Search.astro'
import Entries from '@/sections/Entries.astro'
---

<Layout
	title="Eira - Bitácora Médica"
	bottomBar
	back={false}
>
	<main class="w-full max-w-5xl">
		<Search />
		<Entries />
	</main>
</Layout>
