---
import Layout from '@/layouts/Layout.astro'
---

<Layout
	title="Perfil"
	actionBar
	back
>
	<main class="text-white">
		<h1 class="text-2xl">Profile</h1>
		<p>
			Welcome to your profile page. Here you can see your personal information
			and manage your account.
		</p>
		<button id="login">Login</button>
		<button id="logout">Logout</button>
	</main>

	<script>
		const { signIn, signOut } = await import('auth-astro/client')
		const $login = document.getElementById('login')
		if ($login == null) throw new Error('Element not found')
		$login.onclick = () => signIn('google')
	</script>
</Layout>
