---
import UnoIcon from '@/icons/undo.astro'
import RedoIcon from '@/icons/redo.astro'
import TodoIcon from '@/icons/todo.astro'
import BackIcon from '@/icons/back.astro'

interface Props {
	actions?: boolean
	back?: boolean
}

const { actions = false, back = true } = Astro.props
---

<nav
	class="flex w-full items-center justify-between ps-2 pe-8 text-lg
	text-accent pt-2"
>
	<ul class="p-1">
		<button id="back-btn" class="flex">
			<BackIcon class="size-6 font-thin" />
		</button>
	</ul>
	{
		actions && (
			<ul class="flex items-center gap-2">
				<li id="undo">
					<UnoIcon class="size-6" />
				</li>
				<li id="redo">
					<RedoIcon class="size-6" />
				</li>
				<li id="toggle">
					<TodoIcon class="size-6" />
				</li>
			</ul>
		)
	}
</nav>
