<nav class="flex w-full border justify-between px-4 text-accent text-lg">
	<li
		id="back"
		class="list-none cursor-pointer"
		onclick="window.history.back()"
	>
		◀ back
	</li>
	<ul class="list-none flex gap-4">
		<li id="undo">undo</li>
		<li id="redo">redo</li>
		<li id="toggle">toggle todo list</li>
		<!-- TODO: get the icons -->
	</ul>
</nav>
