<div class="flex flex-col items-center">
  <span class="text-primary font-bold">{Astro.props.number}</span>
  <span class="text-secondary text-semi leading-tight">{Astro.props.text}</span>
</div>
