---
const { label, name, type } = Astro.props;
---

<label class="text-formLabel" for="title">{label}: </label>
<input class="outline-none rounded-md px-1" type={type || "text"} id={name} name={name} />
