---
import Entry from "@/components/Entry.astro";
import { APPOINTMENTS } from "@/data/appointments.ts";

---

<section class="flex flex-col">
  <h2 class="text-lg ms-4 mt-4 text-primary">Próximas Citas</h2>
  {APPOINTMENTS.map((appointment) => <Entry {...appointment} />)}
</section>
