---
import PlusIcon from "@/icons/pluscircle.astro";
---

<footer class="w-full absolute bottom-0">
  <nav class="bg-title w-full flex justify-center rounded-t-3xl">
    <ul class="flex gap-8 md:justify-center md:max-w-2xl h-12 items-center">
      <a href="/">Home</a>
      <a href="/entries/new" class="bg-background rounded-full p-1 mb-9 hover:bg-green"
        ><PlusIcon size="64px" class="text-secondary" /></a
      >
      <a href="/profile">Profile</a>
    </ul>
  </nav>
</footer>
