---
import Entry from "@/components/Entry.astro";

import { ENTRIES } from "@/data/entries.ts";
---

<section class="flex flex-col">
  <h2 class="text-xl m-2 text-title">Últimas Entradas</h2>
  {ENTRIES.map((entry) => <Entry {...entry} />)}
</section>
