---
import { db, Notes, eq } from 'astro:db'
import { getSession } from 'auth-astro/server'
const session = await getSession(Astro.request)
if (!session) {
	return { status: 401, headers: { 'WWW-Authenticate': 'Bearer' } }
}
const user = session.user
if (!user) {
	return { status: 401, headers: { 'WWW-Authenticate': 'Bearer' } }
}

const notes = await db.select().from(Notes).where(eq(Notes.userId, user?.id))
import Entry from '@/components/Entry.astro'
import { entryTypes } from '@/data/types'

import { APPOINTMENTS } from '@/data/appointments'
---

<section class="flex flex-col">
	<h2 class="text-lg ms-4 mt-4 text-primary">Últimas Notas</h2>

	{notes.map((note) => <Entry entry={{ ...note, type: entryTypes.NOTE }} />)}
	<h2 class="text-lg ms-4 mt-4 text-primary">Próximas Citas</h2>
	{
		APPOINTMENTS.map((appointment) => (
			<Entry entry={{ ...appointment, type: entryTypes.APPOINTMENT }} />
		))
	}
</section>
