---
import Entry from "@/components/Entry.astro";

import { ENTRIES } from "@/data/entries.ts";

---

<section class="flex flex-col">
  <h2 class="text-lg ms-4 mt-4 text-primary">Últimas Notas</h2>
  {ENTRIES.map((entry) => <Entry {...entry} />)}
</section>
