---
import { ENTRIES, getEntry } from "@/data/entries";
import Layout from "@/layouts/Layout.astro";

const { id } = Astro.params;
if (!id) return; // maybe an empty skeleton
const entry = getEntry(id);
if (!entry) return; // maybe a 404 page
const { date, slug, type, text } = entry;
---

<Layout title={slug ?? "Sin Título"}>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">{slug}</h1>
        <p class="text-secondary">{text}</p>
      </div>
    </div>
  </div>
</Layout>
