---
import UnoIcon from '@/icons/undo.astro'
import RedoIcon from '@/icons/redo.astro'
import TodoIcon from '@/icons/todo.astro'
import BackIcon from '@/icons/back.astro'

interface Props {
	actions?: string[]
	back?: boolean
	backAction?: string
}

const { actions, backAction, back = true } = Astro.props
console.log(`DEBUG:ActionBar:`, Astro.props)
---

<nav
	class="flex w-full items-center justify-between ps-2 pe-8 text-lg
	text-accent pt-2"
>
	{
		(back || backAction) && (
			<ul class="p-1">
				<a href="/"
					id="back-btn"
					class="flex"
					onclick={backAction || 'console.log("back button clicked")'}
				>
					<BackIcon class="size-6 font-thin" />
				</a>
			</ul>
		)
	}
	{
		actions && (
			<ul class="flex items-center gap-2">
				<li id="undo">
					<UnoIcon class="size-6" />
				</li>
				<li id="redo">
					<RedoIcon class="size-6" />
				</li>
				<li id="toggle">
					<TodoIcon class="size-6" />
				</li>
			</ul>
		)
	}
</nav>
